<div class="divider"><span></span></div>
<div id="general">
    <ul class="subNav">
        <li>
            <a href="{{ path('faq_all_faq') }}" title="" class="{% if app.request.attributes.get('_route') == 'faq_all_faq'%}this{% endif %}">
                <span class="icos-notebook"></span>
                FAQ
            </a>
        </li>
    </ul>
</div>