/apps/front/bootstrap.php.cache
/apps/back/bootstrap.php.cache
/apps/front/cache/*
/apps/back/cache/*
!apps/front/cache/.gitkeep
!apps/back/cache/.gitkeep
/apps/config/common_parameters.yml
/apps/front/logs/*
/apps/back/logs/*
!apps/front/logs/.gitkeep
!apps/back/logs/.gitkeep
/apps/front/phpunit.xml
/apps/back/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/front/bundles/
/web/back/bundles/
/web/back/uploads/
.idea/
/error_log
