<div class="divider"><span></span></div>
<div id="general">
    <ul class="subNav">
        <li>
            <a href="{{ path('static_page_all_pages') }}" title="" class="{% if app.request.attributes.get('_route') == 'static_page_all_pages'%}this{% endif %}">
                <span class="icos-documents"></span>
                Все страницы
            </a>
        </li>
    </ul>
</div>