{% extends '::office.html.twig' %}

{% block style %}
    <link href="{{ asset('lib/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'office.deposit.deposit'|trans }}</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '::alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'office.deposit.history'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ grid(grid, '::grid.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}